<header class="top-header">
    <div class="header-inner">
        <div class="header-left">
            <button class="hamburger hamburger--spin mobile-only" type="button" id="toggle-drawer" aria-label="{{ T `toggleMenu` }}">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

            <div class="site-logo">
                {{ with .Site.Params.sidebar.avatar }}
                    {{ if (default true .enabled) }}
                        {{ if not .local }}
                            <img src="{{ .src }}" width="24" height="24" class="logo" alt="Avatar">
                        {{ else }}
                            {{ $avatar := resources.Get (.src) }}
                            {{ if $avatar }}
                                {{ $avatarResized := $avatar.Resize "48x" }}
                                <img src="{{ $avatarResized.RelPermalink }}" width="24" height="24" class="logo" alt="Avatar">
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
                <a href="{{ .Site.BaseURL | relLangURL }}" class="site-name">{{ .Site.Title }}</a>
            </div>

            {{ if .Site.Menus.main }}
            <nav class="header-nav">
                <ol class="menu">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        {{ $active := or (eq $currentPage.RelPermalink .URL) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
                        <li {{ if $active }} class="current" {{ end }}>
                            <a href="{{ .URL }}" {{ if eq .Params.newTab true }}target="_blank"{{ end }}>
                                {{ $icon := default .Pre .Params.Icon }}
                                {{ with $icon }}
                                    {{ partial "helper/icon" . }}
                                {{ end }}
                                <span>{{- .Name -}}</span>
                            </a>
                        </li>
                    {{ end }}
                </ol>
            </nav>
            {{ end }}
        </div>

        <div class="header-right">
            {{ if (default false .Site.Params.colorScheme.toggle) }}
                <button id="dark-mode-toggle" class="dark-mode-toggle" aria-label="{{ T `darkMode` }}">
                    {{ partial "helper/icon" "sun" }}
                    {{ partial "helper/icon" "moon" }}
                </button>
            {{ end }}
        </div>
    </div>
</header>
